<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="129" android:versionName="0.9.3" package="net.miamy.myplayer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="MyPlayer" android:requestLegacyExternalStorage="true" android:icon="@drawable/note"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.REMOTE_AUDIO_PLAYBACK" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>